<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8" />
  <title>Home | Character Akinator by Tyler Cadenas</title>
  <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='style.css')}}">
</head>

<body id="home">
  <h1>Welcome to my Akinator!</h1>
  <body> My name is Tyler Cadenas, and I programmed this Akinator-look-alike using Python and Flask.    </body><br />

  <form method="post">
    <button type="submit" name="action" value="begin">Begin</button>
  </form>

      <h3> How to play:</h3>
      <body> Think of someone in your head and Akinator will use its Artifical Intelligence to read your mind.
      It has knowledge of characters, including TV characters (both human and non-human), celebrities, politicans,
      entrepreneurs, and more.</body><br />

      <h3>It uses an intelligent algorithm.</h3>
      <body> My Akinator uses an intelligent question selection algorithm to arrive at the correct answer. It uses your responses to
      infer what the next best question to ask is.</body><br />

      <h3>It learns as you play.</h3>
      <body> When the Akinator gets the correct answer, your responses are reinforced in its training model.
      If you're thinking of a character the Akinator has not been trained on, you have the option to add it to the
      database. If you attempt that character again, you'll see that it will arrive at the correct answer quickly!</body>

      <h3>List of Guessable Characters</h3>
      <body> Since this is just a small project, our dataset is limited. Currently, Akinator has knowledge of the following characters.
      If you choose a differnet character, Akinator will give its best 3 guesses based on its current knowledge.
      After the round is over, you'll then have the opportunity to add your character to his dataset!</body>

    <div class="flex-container">
        {% for character in char_list %}
            <div class="flex-item">{{ character }}</div>
        {% endfor %}
    </div>

  <form method="post">
    <button type="submit" name="action" value="begin">Begin</button>
  </form>

  <br />

</body>
</html>